/*  The container that will hold all of the components */
.app-container {
  /* Styling for the groups section */ 
  .groups-pane {
    background: white;
    border-radius: 10px 0px 0px 10px;
  }

  /* Styling for the chatroom */
  .room{
      .heading{
          font-family: 'DM Sans';
          background-color: white;
          color: rgb(70, 70, 70);
          font-size: 2rem;
          font-weight: 500;
          z-index: 1000;
      }

      .messages{
          background:#EAEAEA;
          .message{
              .msg{
                  color: rgba(0,0,0,.7);
              }
          }
          .my-message{
              direction: row-reverse;
              align-self: flex-end;
              .user{
                  display: none;
              }
              .avatar{
                grid-column: 4;
              }
              .msg{
                  color: white;
                  background: #FA2849;
              }
          }
      }

      .messages > div{
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          width: auto !important;
          overflow:auto;
          min-height:400px;
          max-height:400px;
          padding: 1rem;
      }
      
      .form{
          position: relative;
          z-index: 1000;
          input{
              width: 100%;
              padding: 1.5rem ;
              border-radius: 0px 0px 10px 0px;

          }
          button{
              position: absolute;
              right: 1rem;
              top: 1rem;
          }
      }
  }
}

::placeholder {
    opacity: .5; 
}

@media(max-width : 30em){
    .room{
        .messages{
            flex: 1;
        }
    }
}