.login-container {
  background-color: #373747;
  //extra color that wil be used later 534AD9
  padding: 10px;
  border-radius: 10px;
  .login-message {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  input {
    width: 85%;
    border-color: #fa2849;
    color: #fa2849;
  }
  button {
    background-color: #fa2849;
    width: 25%;
    margin: 0px 10px;
    font-size: 17px;
  }
}
