@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.App{
    font-family: 'DM Sans';
    height: 100vh;
    background: linear-gradient(0deg, rgba(17,15,21,1) 0%, rgba(40,35,49,1) 100%);
}