.group-container {
  /* Styling for the heading bar at the top of the pane */
  .heading{
      font-family: 'DM Sans';
      color: rgb(70, 70, 70);
      font-size: 2rem;
      font-weight: 500;
  }
}