.group-container {
    border-radius: 5px;

    /* Styling for the heading bar at the top of the pane */
    .heading{
        font-family: 'DM Sans';
        color: rgb(70, 70, 70);
        font-size: 2rem;
        font-weight: 500;
        z-index: 1000;
    }

    .close-groups-menu {
        color: #FA2849;
        background: white;
        outline: white;
        &:hover {
                background-color: #FA2849;
                color: white;
        }
        &:active {
            background-color: white;
            color: #FA2849;
        }
    }

    /* Styling for the users group messages list */
    .group-message {
        background: white;
        .group-name{
            font-size: small;
            font-weight: 600;
        }
        .last-sent-message {
            font-size: small;
        }
    }
}