.group-container {
  /* Styling for the heading bar at the top of the pane */
  .groups-heading {
    font-family: "DM Sans";
    color: rgb(70, 70, 70);
    font-size: 20px;
    font-weight: 500;
  }
}
